<%- include('partials/header.html')-%>

  <body>
    <%- include('partials/nav.html') -%>
      <div class="container p-5">
        <div class="row">
          <div class="col-ml-2 offset-md-4">
            <div class="card">
              <div class="card-header" bg-dark text-white text-center>
                <h3>Contact Me</h3>
              </div>
              <div class="card-body">
                <form action="">
                  <div class="form-group">
                    <input type="text" name="" id="" class="form-control" placeholder="correo">
                  </div>
                  <br>
                  <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <button class="btn btn-primary btn-block">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('partials/footer.html')-%>
  </body>

  </html>