<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.html') -%>
  <%- include('partials/nav.html') -%>

    <body>
      <div class="container">
        <header class="row">
          <div class="col-leg-12 text-center">
            <img src="/assets/deadpool.png" alt="logo" class="animated bounceIn">
          </div>
        </header>
      </div>
      <!--Section-->
      <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-4 text-center">
          <div class="col-sm-6">
            <i class="fab fa-youtube fa-8x"></i>
          </div>
          <div class="col-sm-6">
            <h3>Titulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, molestias. Sequi veniam odit vitae
              consequatur consectetur, quia hic velit pariatur exercitationem voluptatum ducimus quisquam obcaecati et
              magni dolore debitis quis tempora placeat ratione officia porro accusamus dolores in explicabo? Voluptate
              dolores facere necessitatibus commodi quasi non suscipit perspiciatis excepturi rerum.</p>
          </div>
        </div>
      </div>
      <%- include('partials/footer.html') -%>
    </body>

</html>